.logincontent {
	margin: 100px auto;
	padding: 50px; 
	width: 300px;	
	border: 1px solid #000;
	border-radius: 20px;	
}
.logincontent .fail {
	border: 1px solid red;
	padding: 10px;
	margin-bottom: 10px;
	color: red;
}
.logincontent .fieldset span {
	display: block;
	float: left;
	line-height: 30px;	
}
.logincontent .fieldset input {
	float: right;
}
.clear {
	clear: both;
}

.logincontent input[type="submit"] {
	float: right;
}


#admin {
	position: absolute;	
	top: 0;
	left: 0;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #000;
	z-index: 9010;
}

.cms {
	height: 30px;
	width: 30px;
	display: block;	
	z-index: 10000;
}
.icon {
	display: block;
	width: 30px;
	height: 30px;	
	background-color: rgba(255,255,255,0.5);
	background-size: 20px 20px;
	background-position: 5px 5px;
	background-repeat: no-repeat;	
	border-radius: 15px;
	box-shadow: 3px 3px 10px #999;	
}
a.icon:hover {
	border: 1px solid #999;
	box-shadow: 2px 2px 5px #999;
}
.icon.update {
	background-image: url('images/edit.png');
}
.icon.insert {
	background-image: url('images/new.png');
}
.icon.delete {
	background-image: url('images/delete.png');
}
.icon.view {
	background-image: url('images/view.png');
}
.formdata {
	z-index: 10001;	
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;	
} 
.formdata form {
	width: 500px;
	display: block;
	margin: 100px auto;
	padding: 40px;
	border-radius: 20px;
	background-color: #fff;
}
.formdata form h5 {
	margin-top: 0;
	padding-top: 0;
}
.formdata form .fieldset label {
	float: left;
	width: 100px;
	font-size: 12pt;
	line-height: 30px;
}
.formdata form .fieldset input, .formdata form .fieldset textarea {
	float: left;
}
.formdata form .buttons {
	margin-top: 20px;
}
.formdata form input[type="submit"] {
	float: right;	
}
.formdata form a.cancel {
	float: right;	
	padding-right: 10px;
	font-size: 12pt;
	line-height: 25px;
}
.formdata form .loading {
	float: right;	
	display: none;
}
.formdata .fieldoptions, .formdata .fieldvalues {
	display: none !important;
}

.slickgrid {
	height: 400px;
	width: 100%;
	font-size: 11pt;
	border: 1px solid #ccc;
}

/* slickgrid */

.grid-header {
  border: 1px solid gray;
  border-bottom: 0;
  border-top: 0;
  background: url('../images/header-bg.gif') repeat-x center top;
  color: black;
  height: 24px;
  line-height: 24px;
}

.grid-header label {
  display: inline-block;
  font-weight: bold;
  margin: auto auto auto 6px;
}

.grid-header .ui-icon {
  margin: 4px 4px auto 6px;
  background-color: transparent;
  border-color: transparent;
}

.grid-header .ui-icon.ui-state-hover {
  background-color: white;
}

.grid-header #txtSearch {
  margin: 0 4px 0 4px;
  padding: 2px 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid silver;
}

.options-panel {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid silver;
  background: #f0f0f0;
  padding: 4px;
  margin-bottom: 20px;
  width: 320px;
  position: absolute;
  top: 0px;
  left: 650px;
}

/* Individual cell styles */
.slick-cell.task-name {
  font-weight: bold;
  text-align: right;
}

.slick-cell.task-percent {
  text-align: right;
}

.slick-cell.cell-move-handle {
  font-weight: bold;
  text-align: right;
  border-right: solid gray;

  background: #efefef;
  cursor: move;
}

.cell-move-handle:hover {
  background: #b6b9bd;
}

.slick-row.selected .cell-move-handle {
  background: #D5DC8D;
}

.slick-row .cell-actions {
  text-align: left;
}

.slick-row.complete {
  background-color: #DFD;
  color: #555;
}

.percent-complete-bar {
  display: inline-block;
  height: 6px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* Slick.Editors.Text, Slick.Editors.Date */
input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;

}

.ui-datepicker-trigger {
  margin-top: 2px;
  padding: 0;
  vertical-align: top;
}

/* Slick.Editors.PercentComplete */
input.editor-percentcomplete {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;

  float: left;
}

.editor-percentcomplete-picker {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 100%;
  background: url("../images/pencil.gif") no-repeat center center;
  overflow: visible;
  z-index: 1000;
  float: right;
}

.editor-percentcomplete-helper {
  border: 0 solid gray;
  position: absolute;
  top: -2px;
  left: -9px;
  background: url("../images/editor-helper-bg.gif") no-repeat top left;
  padding-left: 9px;

  width: 120px;
  height: 140px;
  display: none;
  overflow: visible;
}

.editor-percentcomplete-wrapper {
  background: beige;
  padding: 20px 8px;

  width: 100%;
  height: 98px;
  border: 1px solid gray;
  border-left: 0;
}

.editor-percentcomplete-buttons {
  float: right;
}

.editor-percentcomplete-buttons button {
  width: 80px;
}

.editor-percentcomplete-slider {
  float: left;
}

.editor-percentcomplete-picker:hover .editor-percentcomplete-helper {
  display: block;
}

.editor-percentcomplete-helper:hover {
  display: block;
}

/* Slick.Editors.YesNoSelect */
select.editor-yesno {
  width: 100%;
  margin: 0;
  vertical-align: middle;
}

/* Slick.Editors.Checkbox */
input.editor-checkbox {
  margin: 0;
  height: 100%;
  padding: 0;
  border: 0;
}

